
.product-list{
    display: flex;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    &>*{
        padding:1rem;
    }
}

