<div class="fluid-container"   >

<!--<<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" [formGroup]="searchForm" (submit)="onFilter()">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body" style="background-color:lightblue"></i>
                    </div>
                    
                    <div class="col">
                        <input formControlName="filter" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search name,category or description">
                    </div>
                    
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    

                </div>
            </form>
        </div>
        
    </div>> -->
<app-product-list [products]="filtredproducts" ></app-product-list>


</div>