<!--<div class="section">
    <h2 class="section-title">
        Computer
    </h2>
    <app-product-list [products] = productPc></app-product-list>
</div>
<div class="section">
    <h2 class="section-title">
        Phones
    </h2>
    <app-product-list [products] = productSP></app-product-list>
</div>-->
<head>
    <script>
        function allowDrop(ev) {
          ev.preventDefault();
        }
        
        function drag(ev) {
          ev.dataTransfer.setData("text", ev.target.id);
        }
        
        function drop(ev) {
          ev.preventDefault();
          var data = ev.dataTransfer.getData("text");
          ev.target.appendChild(document.getElementById(data));
        }
        </script>
</head>

<div class="fluid-container"  style="background-color:lightblue" >
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <img src="https://www.lenovo.com/medias/razer-large-blade.png?context=bWFzdGVyfHJvb3R8MjYzNDc2fGltYWdlL3BuZ3xoMTUvaDUxLzkyNDU0MDk2NzMyNDYucG5nfDExYWUwOTY2NTQ2YzljZTg2NzMzOGNkNDMxMWIwZDgyZjRjNjI0MWJiNGE3YTA5ODRkNzQyNjMwOTkwNmU5MGE" height="600" width="700">
        </div>
        <div class="col-md-6 col-lg-6"  style="margin-top:10%">
            <h1><b>GGPC RAZER RTX 2080-TI  </b></h1> <br> <h1><b>GAMING PC </b></h1>

            <div class="row">

                <div class="col-2"></div>
                <div class="col-8">            
                    <h4>  11GB RTX 2080 Ti Graphics 
                
                        Intel i9 Unlocked<br>
                        32GB 3200MHz RAM<br>
                        500GB SSD + 1TB NVMe SSD<br>
                        AC WiFi + BT + Windows 10</h4>
                    <button class="button" type="button" style="margin-left: 40%" class="btn btn-success" ondrop="drop(event)" ondragover="allowDrop(event)">Click Me!</button>
                
                </div>
                <div class="col-2"></div>
            </div>


        </div>
    </div>
</div>



