<div class="row comment-list">
    <div class="col-md-6 col-md-offset-2 col-sm-12 mx-auto">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                    <div class="panel-heading">
                        Comment panel
                    </div>
                        <div class="panel-body">
                            <form [formGroup]="commentForm" (submit)="addComment()">

                                <textarea class="form-control" formControlName="comment" placeholder="write a comment..." rows="3" ></textarea>
                                <br>
                                <input type="submit" class="btn btn-info pull-right" value="Post">
                            </form>
                            
                            <hr>
                
                          <div class="clearfix">
                   
                            <ul class="media-list" >
                            <li class="media" *ngFor="let com of comments">
                                <app-comment  [comment]="com"></app-comment>
                            </li>
                        </ul>
                          
                </div>
            </div>
        </div>
    </div>
        
</div>
</div>