
                                    
                                        <a href="#" class="pull-left">
                                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">{{comment.time | date }}</small>
                                            </span>
                                            <strong class="text-success">{{comment.user_name}}</strong>
                                            <p>
                                                {{comment.content}}
                                        </p>
                                        </div>
                                    